<div>
  <h2>Productos Disponibles</h2>

  <p *ngIf="tipoCambio">Tipo de cambio USD: {{ tipoCambio }}</p>

  <table>
    <tr *ngFor="let producto of productosDisponibles">
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.categoria }}</td>
      <td>{{ producto.precio | currency:'ARS' }}</td>
      <td>
        <button (click)="agregarAlCarrito(producto)">Seleccionar</button>
      </td>
    </tr>
  </table>

  <button 
    (click)="confirmarSeleccion()" 
    [disabled]="carritoService.obtenerProductos().length === 0">
    Confirmar selección
  </button>

  <app-factura 
    *ngIf="mostrarFactura"
    [productos]="carritoService.obtenerProductos()"
    (confirmarCompra)="manejarConfirmacionCompra($event)">
  </app-factura>
</div>
