<h1>INICIAR SESION</h1>
<form [formGroup]="formularioIniciarSesion">
  <div>
    <label>Correo Electrónico</label>
    <input formControlName="correo">
    <div *ngIf="correo.touched && correo.invalid">
      <div *ngIf="correo.errors?.['required']">Campo obligatorio</div>
      <div *ngIf="correo.errors?.['pattern']">Formato incorrecto (ej: ejemplo.com)</div>
    </div>
  </div>

  <div>
    <label for="contrasena">Contraseña</label>
    <input type="password" id="contrasena" formControlName="contrasena" autocomplete="current-password">
    <div *ngIf="contrasena.touched && contrasena.invalid">
      <div *ngIf="contrasena.errors?.['required']">Campo obligatorio</div>
      <div *ngIf="contrasena.errors?.['minlength'] || contrasena.errors?.['maxlength']">
        La contraseña debe tener entre 3 y 15 caracteres
      </div>
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="formularioIniciarSesion.invalid">Ingresar</button>
  </div>

  <div>
    ¿No tenés cuenta? <a routerLink="/registrar-usuario">Registrate acá</a>
  </div>
</form>
