<h1>INICIAR SESION</h1>
<form [formGroup]="formularioIniciarSesion" (ngSubmit)="onSubmit()">
  <div>
    <label for="correo">Correo Electrónico</label>
    <input id="correo" formControlName="correo">
    <div *ngIf="correo.touched && correo.invalid">
      <div *ngIf="correo.errors?.['required']">Campo obligatorio</div>
      <div *ngIf="correo.errors?.['pattern']">Formato incorrecto (ej: ejemplo.com)</div>
    </div>
  </div>

  <div>
    <label for="password">Contraseña</label>
    <input type="password" id="contrasena" formControlName="contrasenia">
    <div *ngIf="contrasenia.touched && contrasenia.invalid">
      <div *ngIf="contrasenia.errors?.['required']">Campo obligatorio</div>
      <div *ngIf="contrasenia.errors?.['minlength'] || contrasenia.errors?.['maxlength']">
        La contraseña debe tener entre 3 y 15 caracteres
      </div>
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="formularioIniciarSesion.invalid">Ingresar</button>
  </div>

  <div>
    ¿No tenés cuenta? <a routerLink="/registrar-usuario">Registrate acá</a>
  </div>
</form>
