<h1>REGISTRAR USUARIO</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
 
  <label for="nombre">Nombre:</label>
  <input id="nombre" formControlName="nombre" required>

  <label for="apellido">Apellido:</label>
  <input id="apellido" formControlName="apellido" required>
  
  <label for="correo">Correo:</label>
  <input id="correo" formControlName="correo" required>
  
  <label for="password">Contraseña:</label>
  <input type="password" id="password" formControlName="contrasenia" required>
  
  <button type="submit">Registrar</button>
</form>
