<div>
    <h1>Registrar</h1>
    <form [formGroup]=" formularioRegistrarUsuario">
        
         <!-- Nombre -->
        <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" formControlName="nombre">
        </div>

        <!-- Campo Correo Electrónico -->
        <div>
            <label for="exampleInputEmail1">Correo Electrónico</label>
            <input formControlName="correo" type="email" id="exampleInputEmail1">

            @if (( formularioRegistrarUsuario.controls['correo'].touched ||  formularioRegistrarUsuario.controls['correo'].dirty)
            &&  formularioRegistrarUsuario.controls['correo'].invalid) {

                @if ( formularioRegistrarUsuario.controls['correo'].errors?.['required']) {
                    <div>Campo obligatorio</div>
                }
                @if ( formularioRegistrarUsuario.controls['correo'].errors?.['pattern']) {
                    <div>El correo tiene un formato incorrecto, ej: example&#64;dom.com</div>
                }
            }

            @if ( formularioRegistrarUsuario.controls['correo'].touched &&  formularioRegistrarUsuario.controls['correo'].valid) {
                <div>Campo correcto</div>
            }
        </div>

        <!-- Campo Contraseña -->
        <div>
            <label for="exampleInputPassword1">Contraseña</label>
            <input formControlName="contrasena" type="password" id="exampleInputPassword1">

            @if (( formularioRegistrarUsuario.controls['contrasena'].touched ||  formularioRegistrarUsuario.controls['contrasena'].dirty)
                &&  formularioRegistrarUsuario.controls['contrasena'].invalid) {

                @if ( formularioRegistrarUsuario.controls['contrasena'].errors?.['required']) {
                    <div>Campo obligatorio</div>
                }
                @if ( formularioRegistrarUsuario.controls['contrasena'].errors?.['minlength']
                    ||  formularioRegistrarUsuario.controls['contrasena'].errors?.['maxlength']) {
                    <div>La contraseña debe tener entre 3 y 15 caracteres</div>
                }
            }

            @if ( formularioRegistrarUsuario.controls['contrasena'].touched &&  formularioRegistrarUsuario.controls['contrasena'].valid) {
                <div>Campo correcto</div>
            }
        </div>

        <!-- Botones de acción -->
        <div>
            <button type="submit">Registrar</button>
        </div>

    </form>
</div>